<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/main.css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="frame">
        <div class="main_frame"> 
            <div class="left_frame">
                <div class="profil">
                    <div class="picture"><img src="https://i.ibb.co/Gp62brj/my-passport-photo-removebg-preview.png" width="156px" height="142px" alt=""></div>
                    <div class="name"><%=user.name%></div>
                    <div class="profession"><%=user.profession%></div>
                    <div class="icons">
                    <img src="icon/Facebook.svg" alt="" class="">
                    <img src="icon/Instagram.svg" alt="" class=""> 
                    <img src="icon/Twitter.svg" alt="" class=""> 
                    <img src="icon/Youtube.svg" alt="" class="">
                    <img src="icon/Linkeding.svg" alt="" class="">
                    <div class="dribbble"> <img src="icon/vector.svg" alt="" class="drib-pic"></div>
                    </div>
                </div>
                    <div class="line"></div>
                <div class="description">
                    <div class="age">
                        <div class="age1">Age:</div>
                        <div class="age2"><%=user.age%></div>
                     </div>
                     <div class="residence">
                        <div class="residence1">Residence:</div>
                        <div class="residence2"><%=user.residence%></div>
                    </div>
                    <div class="freelance">
                        <div class="freelance1">Freelance:</div>
                        <div class="freelance2"><%=user.freelance%></div>
                    </div>
                    <div class="adress">
                        <div class="adress1">Adress:</div>
                        <div class="adress2"><a href="http://kko.to/k30AEK34H" target="_blank"><%=user.adress%></a></div>
                    </div>
               </div>
               <div class="line"></div>
               <div class="languages">
                   <div class="languages1">Languages</div>
                    <div class="uzbek">
                        <div class="uzbek1"><%=user.languages[2]%></div>
                        <div class="uzbek2">95%</div>
                    </div>
                    <div class="rectangle"><div class="rectangle1"></div> </div>
                    <div class="english">
                        <div class="english1"><%=user.languages[0]%></div>
                        <div class="english2">80%</div>
                    </div>
                    <div class="rectangle2"><div class="rectangle3"></div> </div> 
                    <div class="korean">
                        <div class="korean1"><%=user.languages[1]%></div>
                         <div class="korean2">50%</div>
                    </div>
                    <div class="rectangle4"><div class="rectangle5"></div> </div>
                </div>
                
                <div class="line"></div>

                <div class="skills">
                    <div class="skills1">Skills</div>
                    <div class="html">
                        <div class="html1"><%=user.skills[0]%></div>
                        <div class="html2">90%</div>
                    </div>
                    <div class="rectangle6"><div class="rectangle7"></div> </div>
                    <div class="css">
                        <div class="css1"><%=user.skills[1]%></div>
                        <div class="css2">85%</div>
                    </div>
                        <div class="rectangle8"><div class="rectangle9"></div> </div>
                    <div class="js">
                        <div class="js1"><%=user.skills[2]%></div>
                        <div class="js2">80%</div>
                    </div>
                    <div class="rectangle10"><div class="rectangle11"></div> </div>
                    <div class="nodejs">
                        <div class="nodejs1"><%=user.skills[3]%></div>
                        <div class="nodejs2">75%</div>
                     </div>
                        <div class="rectangle12"><div class="rectangle13"></div> </div>    
                        <div class="python">
                            <div class="python1"><%=user.skills[4]%></div>
                            <div class="python2">65%</div>
                        </div>
                            <div class="rectangle14"><div class="rectangle15"></div> </div>  
                </div>
             
                    <div class="line"></div>

                    <div class="extra_skills">
                        <div class="extra_skills1">Extra Skills</div>
                    <div class="double_icons"><img src="icon/Icons.svg" alt="">
                        <div class="skill_name"><%=user.extra_skills[0]%></div>
                    </div>
        
                    <div class="double_icons1"><img src="icon/Icons.svg" alt="">
                        <div class="skill_name1"><%=user.extra_skills[1]%></div>
                    </div>

                    <div class="double_icons2"><img src="icon/Icons.svg" alt="">
                        <div class="skill_name2"><%=user.extra_skills[2]%></div>
                    </div>
                    <div class="double_icons3"><img src="icon/Icons.svg" alt="">
                        <div class="skill_name3"><%=user.extra_skills[3]%></div>
                    </div>

                </div>

                <div class="line"></div>
            </div>


            <div class="midd_frame">
                <div class="midd_top">  
                <div class="com2">
                <div class="com1">
                    <div class="rectangle52"><img src="icon/Rectangle52.svg"></div>
                    <div class="rectangle51"><img src="icon/Rectangle51.svg"></div>
                    <div class="polygon1"><img src="icon/Polygon1.svg"></div>
                    <div class="ellip13"><img src="icon/Ellipse13.svg"></div> 
                    <div class="ellip16"><img src="icon/Ellipse16.svg"></div> 
                    <div class="ellip15"><img src="icon/Ellipse15.svg"></div> 
                    <div class="ellip12"><img src="icon/Ellipse12.svg"></div> 
                    <div class="about">Software Engineer in IT company</div>
                    <div class="abtmyself"><%=user.about_me%></div> 
                    <div class="hire"> HIRE ME <div class="vector1"><img src="icon/Vector1.svg"></div> 
                    </div>
                </div>
                <div class="mainpic"><img src="https://i.ibb.co/Gp62brj/my-passport-photo-removebg-preview.png"></div>
                </div>
    
            </div>

                    <div class="midd_bot">
                        <div class="my_services">
                            <div class="my_services1">My Services</div>
                            <div class="service_desc">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. lorem ipsum</div>
                        </div>
                        <div class="myser">
                            <div class="botframe">
                                <div class="midboxx" style="margin-bottom: 33.44px;"><img src="icon/coding.svg"></div>
                                <div class="midboxx1">Web Devolopment</div>
                                <div class="midboxx2">Blog, E-Commerce</div>
                            </div>
                            <div class="botframe">
                                <div class="midboxx" style="margin-bottom: 33.44px;"><img src="icon/illustration.svg"></div>
                                <div class="midboxx1">UI/UX Design</div>
                                <div class="midboxx2">Mobile App, Website Design</div>
                            </div>
                            <div class="botframe">
                                <div class="midboxx" style="margin-bottom: 33.44px;"><img src="icon/Microphone.svg"></div>
                                <div class="midboxx1">Sound Design</div>
                                <div class="midboxx2">Voice Over, Beat Making</div>
                            </div>
                            
                        </div>

                        <div class="myser" style="margin-top: 20px;">
                            <div class="botframe">
                                <div class="midboxx" style="margin-bottom: 33.44px;"><img src="icon/gamedevt.svg"></div>
                                <div class="midboxx1">Game Design</div>
                                <div class="midboxx2">Character Design, Props & Objects</div>
                            </div>
                            <div class="botframe">
                                <div class="midboxx" style="margin-bottom: 33.44px;"><img src="icon/Photographer.svg"></div>
                                <div class="midboxx1">Photography</div>
                                <div class="midboxx2">Portrait, Product Photography</div>
                            </div>
                            <div class="botframe1">
                                <div class="midboxxx">Advertising</div>
                                <div class="midboxxx1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vitae nulla diam in ac dictum a urna viverra morbi.</div>
                                <div class="ordernow" style="margin-top: 30px;"><img src="icon/ordernow.svg"><img src="icon/Vect1.svg"> </div>
                            </div>
                            
                        </div>

                        


                    </div>

            </div>
            


            <div class="right_frame">3</div>
        </div> 
    </div>

</body>

</html>